# CI for Product recommendation Service
name: recommendation-ci

# Trigger the workflow on certain events including, 
# 1. Pull requests to main branch
# 2. Pushes to main branch
# 3. Changes to files in the recommendation directory
# 4. Changes to this workflow file

on: 
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - 'src/recommendation/**'
      - '.github/workflows/ci-recommendation.yml'

# Define the jobs to be run in the workflow
jobs:
    # 1. Install depedencies and run linting test on python code
    install-and-lint:
      runs-on: ubuntu-latest # Github-hosted runner with Ubuntu OS
      steps:
        # Checkout the code from the repository
      - name: checkout code
        uses: actions/checkout@v4 
     
        # Set up python environment with specified version
      - name: Setup Python
        uses: actions/setup-python@v6.1.0
        with:
            python-version: '3.12'
      
        # Install python dependencies
      - name: Install dependencies
        run: |
          cd src/recommendation
          pip install --upgrade pip
          pip install -r requirements.txt
          opentelemetry-bootstrap -a install 
          
        # Run ruff-action to check python code quality
        # Linting helps to identify potential issues and maintain code standards
        # E.g., unused variables, formatting issues, unused imports and functions etc.
      - name: Run ruff linter
        uses: astral-sh/ruff-action@v3.5.1
        with:
          directory: src/recommendation
      
        # Auto-fix ruff issues
      - name: Auto-fix ruff issues
        run: ruff check --fix
        
        # Format the code according to ruff standards
      - name: Format code with ruff
        run: ruff format 
    
    # 2. Build and Push Docker Image to Docker Hub
    docker-build-and-push:
        runs-on: ubuntu-latest  # Github-hosted runner with Ubuntu OS

        # This job depends on the successful completion of the 'build' job
        # Which means it will only run if the 'build' job passes
        needs: install-and-lint

        steps:
        # Checkout the code from the repository
        - name: checkout code
          uses: actions/checkout@v4
      
        - name: Install Docker
          uses: docker/setup-buildx-action@v1
        
        # Login to Docker Hub using credentials stored in GitHub Secrets
        - name: Login to Docker
          uses: docker/login-action@v3
          with:
            username: ${{ vars.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_TOKEN }}
        
        # Build and push the Docker image to Docker Hub
        - name: Docker Push
          uses: docker/build-push-action@v6
          with:
            context: src/recommendation
            file: src/recommendation/Dockerfile
            push: true
            tags: ${{ vars.DOCKER_USERNAME }}/devops-otel-recommendation:${{github.run_id}}

    # 4. Update Kubernetes Deployment Manifest with New Image Tag
    update-kubernetestes-manifest:
        runs-on: ubuntu-latest  # Github-hosted runner with Ubuntu OS

        # This job depends on the successful completion of the 'docker-build-and-push' job
        needs: docker-build-and-push

        steps:
        # Checkout the code from the repository with write access (Token)
        - name: checkout code
          uses: actions/checkout@v4
          with:
            token: ${{ secrets.ULTIMATE_DEVOPS_PROJECT_GITHUB_TOKEN }}

        # Update the image tag in the Kubernetes deployment manifest file
        # Here we are using 'sed' command to find and replace the image tag
        - name: Update tag in kubernetes deployment manifest
          run: | 
               sed -i "s|image: .*|image: ${{ vars.DOCKER_USERNAME }}/devops-otel-recommendation:${{github.run_id}}|" kubernetes/recommendation/deploy.yaml
        
        - name: Commit and push changes
          run: |
            git config --global user.email ${{ secrets.GIT_USER_EMAIL }}
            git config --global user.name ${{ vars.GIT_USER_NAME }}
            git add kubernetes/recommendations/deploy.yaml
            git commit -m "[CI]: Update recommendation image tag"
            git push origin HEAD:main -f

        
        
          


        